* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
}
/* Navigation Section */
nav {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 10px 30px;
  top: 0;
  position: sticky;
  background-color: azure;
  border-bottom: 2px solid grey;
  z-index: 1000;
}
.nav-active {
  background-color: red;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;

  gap: 0 50px;
}
nav ul li {
  display: flex;
}
.logo {
  display: flex;
  flex: 1;
  align-items: center;

  gap: 10px;
}
.logo .blue {
  color: blue;
}
.logo .red {
  color: red;
  font-size: 30px;
}
.logo img {
  width: 60px;
  border-radius: 50%;
}
.logo h1 {
  font-family: 'Permanent Marker', cursive;
}
.nav-btn {
  font-size: 30px;
  display: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 20px;
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding: 3px 5px;
  font-size: 20px;
  color: black;
}
nav ul li a:after {
  content: '';
  position: absolute;
  background-color: red;
  height: 3px;
  width: 0;
  left: 0;
  transition: 0.8s;
  bottom: -5px;
}

nav ul li a:hover:after {
  width: 100%;
}

.show {
  display: flex;
}
/* Navigation Section End*/

/* @media Nav */

@media all and (max-width: 1024px) {
  nav ul {
    gap: 0 20px;
  }

  nav ul li a {
    font-size: 16px;
  }
}
@media all and (max-width: 768px) {
  nav {
    display: block;
    width: 100vw;
  }
  nav > .logo {
    display: flex;
    align-self: center;
  }
  nav ul {
    display: none;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;
  }
  nav ul li {
    font-size: 25px;
  }

  .nav-btn {
    display: flex;
  }
}
@media (max-width: 375px) {
  .logo .blue {
    font-size: 20px;
  }
  .logo .red {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .logo {
    margin-left: -20px;
  }
}
nav ul li {
  font-size: 15px;
}
