.social-bar {
  display: flex;

  border-radius: 20px;
}

.social-box {
  padding: 10px;
}

.fb-icon,
.git-icon,
.linkedin-icon {
  color: white;
  font-size: 20px;
}
.fb-icon:hover {
  color: blue;
  background-color: white;
  border-radius: 50%;
}
.git-icon:hover {
  color: black;
  background-color: white;
  border-radius: 50%;
}
.linkedin-icon:hover {
  color: blue;
  background-color: white;
  border-radius: 50%;
}
